In [1]:
import pandas as pd 
import numpy as nmp
import matplotlib.pyplot as plt
from sklearn import linear_model as lm 
import joblib as jb
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("survey lung cancer.csv")
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [3]:
newDF = pd.get_dummies(df.GENDER)
newDF

     F  M
0    0  1
1    0  1
2    1  0
3    0  1
4    1  0
..  .. ..
304  1  0
305  0  1
306  0  1
307  0  1
308  0  1

[309 rows x 2 columns]

In [4]:
updatedDF = pd.concat([df,newDF],axis='columns')
updatedDF

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER,F,M
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES,0,1
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES,0,1
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO,1,0
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO,0,1
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES,1,0
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES,0,1
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES,0,1
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES,0,1
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES,0,1

In [5]:
X = updatedDF.drop(['GENDER','LUNG_CANCER','F'],axis = 'columns')
X

,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,M
0,69,1,2,2,1,1,2,1,2,2,2,2,2,2,1
1,74,2,1,1,1,2,2,2,1,1,1,2,2,2,1
2,59,1,1,1,2,1,2,1,2,1,2,2,1,2,0
3,63,2,2,2,1,1,1,1,1,2,1,1,2,2,1
4,63,1,2,1,1,1,1,1,2,1,2,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,56,1,1,1,2,2,2,1,1,2,2,2,2,1,0
305,70,2,1,1,1,1,2,2,2,2,2,2,1,2,1
306,58,2,1,1,1,1,1,2,2,2,2,1,1,2,1
307,67,2,1,2,1,1,2,2,1,2,2,2,1,2,1
308,62,1,1,1,2,1,2,2,2,2,1,1,2,1,1

In [6]:
y= df.LUNG_CANCER
y

0      YES
1      YES
2       NO
3       NO
4       NO
      ...
304    YES
305    YES
306    YES
307    YES
308    YES
Name: LUNG_CANCER, Length: 309, dtype: object

In [7]:
 X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2)

In [8]:
reg = lm.LogisticRegression( max_iter=3000)
reg.fit(X_train,y_train)

LogisticRegression(max_iter=3000)

In [9]:
reg.predict(X_test)

array(['YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'NO'], dtype=object)

In [12]:
y_pred = reg.predict(X_test)
y_pred

array(['YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'NO'], dtype=object)

In [11]:
reg.score(X_test,y_test)

0.9516129032258065